src/main/java/info/xiaomo/core/ai/btree/BehaviorTree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://github.com/jzyong/game-server"
            xmlns="https://github.com/jzyong/game-server">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[行为数xml解析配置文档
		]]>
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="Root">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
				行为树配置文件根节点
			]]>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Id"/>
                <xsd:element ref="Info"/>
                <xsd:choice>
                    <xsd:element ref="Tree"/>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Id" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
				行为树唯一配置id
			]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="Info" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
				行为树功能描述信息
			]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="Tree">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
							行为树解析开始节点
						]]>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Selector">
        <xsd:annotation>
            <xsd:documentation
                    source="info.xiaomo.core.ai.btree.branch.Selector">
                <![CDATA[
					选择器，依次从子节点选择一个节点执行，直到第一个子节点执行成功
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RandomSelector">
        <xsd:annotation>
            <xsd:documentation
                    source="info.xiaomo.core.ai.btree.branch.RandomSelector">
                <![CDATA[
					随机选择器，随机顺序从子节点选择一个节点执行，直到子节点执行成功
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Guard">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
					防御节点，必须改节点的子任务执行成功，才会进入子树
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Sequence">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.branch.Sequence">
                <![CDATA[
					顺序执行节点，直到失败
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Parallel">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.branch.Parallel">
                <![CDATA[
					依次执行所有子节点
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                    <xsd:attribute name="policy" default="Sequence">
                        <xsd:annotation>
                            <xsd:documentation
                                    source="Open Declaration info.xiaomo.core.ai.btree.branch.Parallel.Policy">
                                <![CDATA[
									执行结果方式：
									Sequence 全部成功就成功，有一个失败就失败
									Selector 有一个成功就成功，全部失败则失败
								]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NMTOKEN">
                                <xsd:enumeration value="Sequence"/>
                                <xsd:enumeration value="Selector"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="orchestrator" default="Resume">
                        <xsd:annotation>
                            <xsd:documentation
                                    source="Open Declaration info.xiaomo.core.ai.btree.branch.Parallel.Orchestrator">
                                <![CDATA[
									执行流程：
									Resume 每步重复开始执行
									Join 执行一次，直到成功或者失败
								]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NMTOKEN">
                                <xsd:enumeration value="Resume"/>
                                <xsd:enumeration value="Join"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Invert">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.Invert">
                <![CDATA[
					翻转结果，success<-->fail
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="AlwaysFail">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.ai.btree.decorator.AlwaysFail">
                <![CDATA[
					直接失败
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="AlwaysSucceed">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.AlwaysSucceed">
                <![CDATA[
					直接成功
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Repeat">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.Repeat">
                <![CDATA[
					重复执行指定次数的任务节点
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                    <xsd:attribute name="times" default="1" type="xsd:integer"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SemaphoreGuard">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.SemaphoreGuard">
                <![CDATA[
					信号量防御，同一时间只允许指定个任务同时运行
					name 属性为信号量的名称
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UntilFail">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.UntilFail">
                <![CDATA[
					直到失败
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UntilSuccess">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.UntilSuccess">
                <![CDATA[
					直到成功
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Random">
        <xsd:annotation>
            <xsd:documentation source="info.xiaomo.core.ai.btree.decorator.Random">
                <![CDATA[
					结果随机
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="nameType">
                    <xsd:group ref="branchTaskElements"/>
                    <xsd:attribute name="success" default="0.5" type="xsd:float"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Leaf">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
					行为树执行叶子节点，判断某个条件或执行具体任务
				]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
							叶子节点逻辑执行类
						]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax"/>
        </xsd:complexType>
    </xsd:element>

    <!-- name 属性 -->
    <xsd:complexType name="nameType" abstract="true">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
				节点描述属性，区分有什么作用等
			]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
					节点描述属性，区分有什么作用等
				]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- 分支节点属性 -->
    <xsd:group name="branchTaskElements">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="Selector"/>
                <xsd:element ref="RandomSelector"/>
                <xsd:element ref="Guard"/>
                <xsd:element ref="Leaf"/>
                <xsd:element ref="Sequence"/>
                <xsd:element ref="Invert"/>
                <xsd:element ref="Parallel"/>
                <xsd:element ref="AlwaysFail"/>
                <xsd:element ref="AlwaysSucceed"/>
                <xsd:element ref="Repeat"/>
                <xsd:element ref="SemaphoreGuard"/>
                <xsd:element ref="UntilFail"/>
                <xsd:element ref="UntilSuccess"/>
                <xsd:element ref="Random"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>